body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "HackBold";
  src: url("./fonts/Hack-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Franlest";
  src: url("./fonts/Franlest-Dreaming-BF641924f8ca49b.otf") format("truetype");
}